module.exports = {
  HOST: "localhost",
  USER: "user_BD",
  PASSWORD: "password_BD",
  DB: "prueba_sass",
  dialect: "mysql",
  pool: {
    max: 5,
    min: 0,
    acquire: 30000,
    idle: 10000,
  },
};