<div style="width: 400px; margin: auto">
  <div class="edit-form">
    <h4>Crear Ciudad</h4>
    <form [formGroup]="formulario" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="title">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="nombre"
          name="title"
        />
      </div>

      <button type="submit" class="badge badge-success" (click)="submit()">
        Crear
      </button>
    </form>
  </div>
</div>
