<div style="width: 400px; margin: auto">
  <div *ngIf="formulario" class="edit-form">
    <h4>Actualizar sede</h4>
    <form [formGroup]="formulario" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="title">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="nombre"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="title">Ciudad</label>
        <select class="form-control" formControlName="ciudadId">
          <option *ngFor="let ciudad of ciudadesList" [ngValue]="ciudad.id">
            {{ ciudad.nombre }}
          </option>
        </select>
      </div>

      <button type="submit" class="badge badge-success">
        Actualizar
      </button>
    </form>
  </div>
</div>
